{% extends 'layout.html' %}

{% block scripts %}
    <script>
        window.onload = function () {
            let $window = $(".window")
            $window.draggable({
                handle: ".title-bar"
            });

            $window.resizable({
                alsoResize: ".window-body",
                minWidth: 320,
                minHeight: 240,
                handles: "all",
                aspectRatio: false
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div class="desktop" style="background-image: url('{{ url_for('static', filename='images/wallpaper.png') }}'); background-repeat: repeat">
        <div class="window" id="remote-screen-window">
        <div class="title-bar">
            <div class="title-bar-text">Remote Screen</div>
                <div class="title-bar-controls">
                    <!--
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                    -->
                </div>
            </div>
            <div class="window-body">
                <img src="{{ url_for('stream_screen') }}" alt="Remote Screen" style="width: 100%; height: 100%;">
            </div>
            <div class="status-bar">
                <p class="status-bar-field" id="streaming-status-field">Done</p>
            </div>
        </div>
    </div>
{% endblock %}
